# Dependencies
node_modules
.pnp
.pnp.js

# Bun package manager
bun.lockb

# Output
out
dist
.next
*.tgz
/build/

# Code coverage
coverage
*.lcov

# Logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Finder (MacOS) folder config
.DS_Store

# Dotenv secrets
.env
.env.*
!.env.example
.env.local

# Cache
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.gradle
*.iml
.idea

# Package manager debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ignore package manager lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# vscode
.vscode

# Vite
vite.config.d.ts
vite.config.js

# Assets
/images
/public/images
/videos
/public/videos
/fonts
/public/fonts
